<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input 
              ngModel name="username" 
              type="text" id="username" class="form-control" required>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              ngModel name="email" #email="ngModel"
              type="email" id="email" class="form-control" email required>
          </div>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid value!</span>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select 
            ngModel name="secret" 
            id="secret" class="form-control">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button
          [disabled]="!form.valid" 
          class="btn btn-primary" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
